%h2 The best gigs, in one list, curated by those fine folk over at The 405.

- @gigs.each do |day, gigs|
  = day

  %ul{class: 'gigs'}
  - gigs.each do |gig|
    = haml :gig, :locals => {:gig => gig}

= @results.inspect